.user_show_container {
  display: flex;
  justify-content: space-around;
  margin-top: 36px;

  .user_information {
    position:relative;
    background: rgb(148, 148, 148);
    width: 30%;
    height: 80vh;

    .avatar_show_user {
      position: absolute;
      top: 100px;
      left: 80px;
      width: 150px;
    }
  }

  .watchlist_show_user {
    width: 60%;
    padding: 32px;

      .title_header_user_show {
        font-family: "Geomanist-Bold", serif;
        text-align: center;
      }

      .card-grid-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

          .like-user-show{
            position: absolute;
            bottom: 23px;
            right: 25px;
            font-size: 35px;
          }
      }
  }
}






