// Specific CSS for your home-page
.netflix-logo {
  width: 130px;
  margin-left: 25px;
}

.wakanim-logo {
  width: 100px;
}

.crunchyroll-logo {
  width: 85px;
  margin-left: 50px;
}

.adn-logo {
  width: 120px;
  margin-left: 50px;
  margin-top: 10px;
}

.carousel-title {
  margin: 90px 0 10px 175px;
  font-family: "Geomanist-Bold", serif;
  color: $orange;
}

.vod {
  background-color: black;
  width: 100%;
  margin-top: 50px;
}

.vod h3 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: "Geomanist-Bold", serif;
  color: $orange;
  border-top: 2px solid $orange;
}

.vod-choice {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.category {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  border-top: 2px solid $orange;
}

.category h3 {
  font-family: "Geomanist-Bold", serif;
  color: $orange;
  padding-bottom: 10px;
}

.category-choice {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}
