<div class="user-container-show">
  <div class="user-profil-show">
    <div class="user-id-show">
      <div class="img-user-show">
      </div>
      <h1 class="user-nickname-show"><%= @user.nickname %></h1>
    </div>
  </div>

  <div class="user-watchlist-show">
  
  </div>
</div>





<% @watchlist.each do |watchlist_anime| %>
  <%= link_to "Destroy", watchlist_anime_path(watchlist_anime), method: :delete %>
<% end %>
  