<div class="user-profil">
  <div class="user-id">
  
  </div>
</div>




<% @watchlist.each do |watchlist_anime| %>
  <%= link_to "Destroy", watchlist_anime_path(watchlist_anime), method: :delete %>
<% end %>
  