<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= image_path "cross_banner.png" %>);">
  <div class="tagline">
    <div class="intro">
      <p>Que vous soyez incollable ou néophyte, vous trouverez sans peine vos prochaines aventures !</p>
      <p>Rejoignez facilement les plateformes VOD pour visionner vos sélections.</p>
      <p>Quoi de plus frustrant que d'attendre la suite de ses animés préférés ?</br>
      Prolongez l'expérience et partager vos pronostics</br>
      Serez-vous le prochain maître des prophéties ?!</p>
    </div>

    <h1>Recherchez, regardez, théorisez !</h1>
  </div>

  <%= render 'shared/searchbar', animes: @animes %>
</div>

