<div class="row">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= image_path "bleach_banner.png" %>);">
    <div class="tagline">
      <h1>Lorem ipsum dolor sit amet</h1>

      <p>Lorem ipsum, dolor sit amet consectetur adipisicing</br>
      Lorem ipsum, dolor sit amet consectetur adipisicing</br>
      Lorem ipsum, dolor sit amet consectetur adipisicing</p>
    </div>

    <%= render 'shared/searchbar', animes: @animes %>
  </div>
</div>
