<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= image_path "cross_banner.png" %>);">
  <div class="tagline">
    <div class="Tagline-item search-tagline">
      <h1>Recherchez</h1>
      <p>Que vous soyez incollable ou néophyte, trouvez sans peine vos prochaines aventures !</p>
    </div>
    <div class="Tagline-item watch-tagline">
      <h1>Regardez</h1>
      <p>Rejoignez facilement les plateformes VOD pour visionner vos sélections.</p>
    </div>
    <div class="Tagline-item theory-tagline">
      <h1>Théorisez</h1>
      <p>Prolongez l'expérience et partager vos pronostics.</br>
      Serez-vous le prochain maître des prophéties ?!</p>
    </div>
  </div>
  <div class="search-home">
    <%= render 'shared/searchbar', animes: @animes %>
  </div>
</div>
