<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= image_path "cross_banner.png" %>);">
  <div class="tagline">
    <p>Que vous soyez incollable ou néophyte, vous trouverez sans peine vos prochaines aventures</br>
    épiques, comiques ou bien encore horrifiques.</br>
    </br>
    Rejoignez facilement les plateformes VOD pour visionner vos sélections.</br>
    </br>
    Quoi de plus frustrant que d'attendre la sortie de la suite de ses animés préférés ?</br>
    Prolongez l'expérience et rejoignez une communauté de passionnés pour partager vos</br>
    pronostics et peut-être serez-vous le prochain maître des prophéties !</p></br>

    <h1>Recherchez, regardez, théorisez !</h1>
  </div>

  <%= render 'shared/searchbar', animes: @animes %>
</div>

