<footer class="fixed-bottom font-family">
  <div class="copyright form-inline">
    <p class="text-secondary">© 2021 Copyright: <span class="color-link">LaPassion.com</span></p>
  </div>
  <div class="social-media form-inline">
    <p class="text-secondary">Suivez-nous</p>
    <p class="color-link"><i class="fab fa-facebook"></i></p>
    <p class="color-link"><i class="fab fa-twitter"></i></p>
    <p class="color-link"><i class="fab fa-google-plus-g"></i></p>
  </div>
</footer>
