<div class="searchBar">
  <%= form_tag animes_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "searchInput",
      placeholder: "Trouvez votre animé"
    %>
    <%# <%= select_tag 'animes', options_for_select(animes.pluck(:streaming_service).uniq), prompt: "Service VOD ?", class: "stream-tag" %>
    <%# <%= select_tag 'animes', options_for_select(animes.pluck(:category).uniq), prompt: "Genre ?", class: "category-tag" %>
    <div class="searchIcon"></div>
  <% end %>
</div>
