<div class="home_container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag('manga1.jpg', alt: 'manga1.jpg', style: '', class: 'img-carousel d-block w-80')%>
        <div class="carousel-caption d-none d-md-block">
          <h5>Lorem, ipsum, dolor.</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, aliquam.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag('manga2.png', alt: 'manga1.jpg', style: '', class: 'img-carousel d-block w-80')%>
        <div class="carousel-caption d-none d-md-block">
          <h5>Lorem, ipsum, dolor.</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, aliquam.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag('manga3.jpg', alt: 'manga1.jpg', style: '', class: 'img-carousel d-block w-80')%>
        <div class="carousel-caption d-none d-md-block">
          <h5>Lorem, ipsum, dolor.</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, aliquam.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="card">
  <div class="cards-img">
    <%= image_tag('manga1.jpg', alt: 'manga1.jpg', class: 'card-img')%>
  </div>
  <div class="card-description">
    <h1 class="title">Death note</h1>
    <p class="date">2016 - 14 episodes</p>
    <p class="heart-card"><i class="far fa-heart"></i></p>
  </div>
</div>
</div>