 <div class="container">
  <div class="row">
    <% @animes.each do |anime| %>
      <div class="card m-4" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor">  

        <div class="cards-img-container">
          <%= image_tag('manga2.png', alt: 'manga1.png', class: "card-img")%>
        </div>

        <div class="card-description">
          <h1 class="title"><%= anime.title %></h1>
          <% if current_user != nil %>
            <div class="like"></div>
          <% end %>


          <p class="rating">
            <%# <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i> %>
            <%= "#{anime.rating} / 5" %>
          </p>
        </div>

      </div>
    <% end %>
  </div>
 </div>
 