<div class="container">
  <div class="row">
    <% @animes.each do |anime| %>
      <div class="card m-4">  
      <a href="<%= anime_path(anime) %>">
        <div class="cards-img-container">
          <%= cl_image_tag anime.photo.key, class: "card-img" %>
        </div>
        <div class="card-description">
          <h1 class="title-card"><%= anime.title %></h1>
          </a>
          <% if current_user != nil %>
            <div class="like"></div>
          <% end %>
          <p class="rating">
            <% anime.rating.times do  %>
              <i class="fas fa-star"></i>
            <% end %>
            <% anime.blank_stars.times do %>
              <i class="far fa-star"></i>
            <% end %>
            (<%= rand(1..100) %> votes)
          </p>   
        </div>
      </div>
    <% end %>
  </div>
 </div>
 