.banner {
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-position-y: -70px;
}

.tagline {
  color: white;
  margin-left: 30px;
}

.tagline p {
  font-family: "Asap-Italic", serif;
  font-size: 14px;
}

.tagline h1 {
  font-family: "Asap-SemiBold", serif;
  font-size: 50px;
}