.banner {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position-y: -70px;
}

.tagline {
  color: white;
  text-align: center;
}

.tagline p {
  text-align: left;
}