.banner {
  height: 60vh;
  width: 100%;
  display: flex;
  position: relative;
  background-position-y: -70px;
}

.tagline {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  width: 100%;
  margin: 0;
  text-align: center;
}

.tagline p {
  font-family: "Asap-Italic", serif;
  font-size: 16px;
  max-width: 350px;
}

.tagline h1 {
  font-family: "Asap-SemiBold", serif;
  font-size: 40px;
}

.Tagline-item {
  min-width: 350px;
  margin: 15px;
}