.remove-decoration {
	color: $orange;
}

.img-carousel {
	height: 400px;
	width: 100%;
	object-fit: cover;
}

.carousel-item:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
	background-color: rgba($color: #000000, $alpha: 0.3);
}

.home_container {
	margin: 0 auto;
	width: 80%;
}

.home_container h2 {
  font-family: "Geomanist-Bold", serif;
  color: $orange;
	margin-top: 3em;
}

.title-carouselle {
	background-color: rgba($color: #000000, $alpha: 1.0);
	color: $orange;
	font-size: 30px;
	font-family: 'Changa', sans-serif;
	padding: 5px;
	width: 300px;
	margin: 0 auto;
	border-radius: 8px;
	box-shadow: 1px 1px 10px $orange;
}

.carousel-inner {
	box-shadow: 2px 2px 60px rgb(80, 80, 80);
	position: relative;
}

.text-anim-top {
	display: flex;
	justify-content: center;
}

.text-anim-top p {
	position: absolute;
	z-index: 1;
	background-color: rgba($color: #000000, $alpha: 1.0);
	top: 10px;
	color: $orange;
	font-size: 20px;
	font-family: 'Changa', sans-serif;
	border-radius: 8px;
	box-shadow: 1px 1px 10px $orange;
	padding: 3px 8px 3px 8px;
	text-align: center;
}