.card {
	width: 228px;
	height: 320px;
	position: relative;
	box-shadow: 2px 2px 60px grey;
	border-radius: 4px;
}

.card-img {
	width: 228px;
	height: 300px;
	border-radius: 4px;
  object-fit: cover;
}

.cards-img {
	width: 228px;
	height: 320px;
	position: absolute;
	top: 0;
	overflow: hidden;
}


.card-description {
	border-radius: 0 0 4px 4px;
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 228px;
	background-color: rgba(30,30,30,1);
	transition: all 0.3s ease-out;
	line-height: 30px;

	.title {
		position: absolute;
		bottom: 0px;
		left: 5px;
		font-size: 26px;
		color: white;
	}

	.heart-card {
		position: absolute;
		bottom: -10px;
		right: 5px;
		font-size: 36px;
		color: red;
	}

	.date {
		display: none;
		font-size: 16px;
		position: absolute;
		bottom: 40px;
		// align-items: center;
		left: 40px;
		color: white;
	}
}


.card:hover .card-description {
	width: 228px;
	height: 170px;
}

.card:hover .card-description .heart-card{
		top: 10px;
		right: 5px;
}

.card:hover .card-description .title{
		top: 10px;
		left: 5px;
}

.card:hover .card-description .date {
	display: block;
}

