.card {
	width: 228px;
	height: 320px;
	position: relative;
	box-shadow: 2px 2px 60px grey;
	border-radius: 4px;
}

.cards-img-container {
	width: 228px;
	height: 320px;
	position: absolute;
	top: 0;
	overflow: hidden;
}

.count_result {
	font-size: 18px;
}

.return_home {
	font-size: 40px;
	position: absolute;
	top: 120px;
	right: 380px;
	cursor: pointer;
}

.card-img {
	width: 228px;
	height: 300px;
	border-radius: 4px;
  object-fit: cover;
	transition: all 0.3s ease-in-out;
}

.card-description {
	border-radius: 0 0 4px 4px;
	position: absolute;
	bottom: -10px;
	height: 100px;
	width: 228px;
	background-color: rgb(255, 255, 255);

		.title-card {
			position: absolute;
			line-height: 40px;
			left: 8px;
			font-size: 20px;
			color: black;
		}

		.like-btn {
			position: absolute;
			line-height: 40px;
			right: 8px;
			right: -30px;
			top: -30px;
		}

		.category {
			position: absolute;
			bottom: 23px;
			left: 8px;
			font-size: 12px;
		}

		.rating {
			font-size: 14px;
			position: absolute;
			bottom: -10px;
			left: 8px;
			color: rgb(255, 166, 0);
			opacity: 0.6;
		}
}

.card:hover .card-img{
	transform: scale(1.1);
}