.navbar-lewagon {
  justify-content: space-between;
  background: #FFF5E9;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.social-links {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.title {
  position: absolute;
  margin-left: 100px;
  padding-top: 25px;
  font-family: 'ZenzaiItacha-vElZ';
  font-size: 50px;
  color: #DA4903;
}

.logo {
  position: absolute;
  margin-left: 50px;
}

.jojo {
  position: absolute;
  font-family: Jojomix-gEr4;
  font-size: 20px;
  color: #F99002;
  padding-top: 10px;
  margin-left: 470px;
}

.dropdown-menu {
  background-color: #FFF5E9;
  color: #F99002;
}
