.navbar-lewagon {
  justify-content: space-between;
  background: #FFFCF7;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.toggle {
  font-size: 30px;
  cursor: pointer;
  color: #DA4903;
}

.toggle.active {
  cursor: pointer;
}

.menu {
  list-style-type: none;
  position: fixed;
  top: 60px;
  left: -100%;
  display: block;
  text-align: center;
  width: 20%;
  height: 100vh;
  background: #FFFCF7;
  transition: 0.9s;
  z-index: 999;
  // border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.menu.active {
  left: 0;
}

.dragonball {
  position: absolute;
  margin-left: 40px;
}

.title {
  position: absolute;
  margin-left: 90px;
  padding-top: 25px;
  font-family: 'ZenzaiItacha-vElZ';
  font-size: 50px;
  color: #DA4903;
}

.jojo-text {
  font-family: "animeace2_reg";
  font-size: 15px;
  color: #DA4903;
  margin: auto 10px;
}

.goku {
  cursor: pointer;
}

.dropdown-menu {
  background-color: #FFFCF7;
  border: 0.1rem solid #DA4903;
  border-radius: 8px;
  box-shadow: 8px 5px 5px #DA4903;
}
