.navbar-lewagon {
  justify-content: space-between;
  background: #FFFCF7;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.social-links {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  color: #DA4903;
}

.title {
  position: absolute;
  margin-left: 100px;
  padding-top: 25px;
  font-family: 'ZenzaiItacha-vElZ';
  font-size: 50px;
  color: #DA4903;
}

.logo {
  position: absolute;
  margin-left: 50px;
}

.jojo {
  position: absolute;
  font-family: Jojomix-gEr4;
  font-size: 20px;
  color: #DA4903;
  padding-top: 10px;
  margin-left: 470px;
}

.dropdown-menu {
  background-color: #FFFCF7;
  border: 0.1rem solid #DA4903;
  border-radius: 8px;
  box-shadow: 8px 5px 5px #DA4903;
}
