.card-product {
  position: relative;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 70vw;
  margin-bottom: 8px;
}
.card-product-infos {
  display: flex;
  align-items: center;
}


.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.card-product .card-product-infos {
  padding: 16px;
}

.date_card_theory {
  font-size: 12px;
  opacity: 0.5;
}

// RANK ANIMATION

.rank_font {
  font-size: 14px;
  color: grey;
}

@keyframes rank {
  0% {content: "Apprenti"; font-size: 14px;}
  50% { opacity: 0; font-size: 8px;}
  100% {content: "Sensei"; opacity: 1; color: $orange; font-size: 16px;}
}

.rank:after {
  content:"";
  animation: rank 3s linear forwards;
}

//Counter vote

.upvote {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
}

#count {
  background: rgb(255, 187, 0);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  border-radius: 5px;
}

.button {
  font-size: 20px !important;
  font-weight: bold;
  background: rgb(233, 233, 233);
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px !important;
  border-radius: 5px;
  cursor: pointer;
}
