.searchbar {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  background: white;
  height: 70px;
  width: 50%;
  border-radius: 32px;
  background: white;
  border: 1px solid $orange;
}

.form-control {
  height: 40px;
  padding: 0 40px;
  margin-left: 10px;
  background: white;
  border: hidden;
  border-right: 1px solid $orange;
  text-align-last: center;
}

.form-control:focus {
  box-shadow: none;
  border-right: 1px solid $orange;
  transform: scale(1.2);
  background: transparent;
}

.stream-tag {
  height: 40px;
  padding: 0 40px;
  color: $orange;
  background: white;
  border: hidden;
  text-align-last: center;
  margin-right: 20px;
}

.category-tag {
  height: 40px;
  padding: 0 10px;
  color: $orange;
  background: white;
  border: hidden;
  border-left: 1px solid $orange;
  text-align-last: center;
}

.search-btn {
  color: white;
  font-size: 20px;
  background: $orange;
  border-radius: 32px;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 25px 10px;
  margin-left: 18px;
}

.btn-nav {
  background: $orange;
  color: white;
  border: hidden;
}

.select {
  background: black;
}

.category-tag::before {
  background: black;
}