.searchbar {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  background: white;
  height: 70px;
  width: 50%;
  border-radius: 32px;
  background: white;
  border: 1px solid $orange;
}

.text-field {
  height: 40px;
  padding: 0 40px;
  background: transparent;
  border: hidden;
  text-align-last: center;
}

.text-field:hover {
  background-color: rgba(230, 126, 34, 0.1);
  height: 68px;
  border-radius: 32px;
  border: hidden;
}

.text-field:hover ~ .stream-tag,
.stream-tag:hover {
  border: hidden;
}

.text-field:focus {
  box-shadow: none;
  border-right: 1px solid $orange;
  background: transparent;
  transform: scale(1.02);
}

.stream-tag {
  height: 40px;
  padding: 0 40px 0 40px;
  color: $orange;
  background: white;
  border: hidden;
  border-left: 1px solid $orange;
  text-align-last: center;
  appearance: none;
  cursor: pointer;
}

.stream-tag:hover {
  background-color : rgba(230, 126, 34, 0.1);
  height: 68px;
  border-radius: 32px;
  border: hidden;
}

.stream-tag:hover ~ .category-tag,
.category-tag:hover {
  border: hidden;
}

.category-tag {
  height: 40px;
  padding: 0 10px;
  color: $orange;
  background: white;
  border: hidden;
  border-left: 1px solid $orange;
  text-align-last: center;
  appearance: none;
  cursor: pointer;
}

.category-tag:hover {
  background-color : rgba(230, 126, 34, 0.1);
  height: 68px;
  border-radius: 32px;
  border: hidden;
}

.search-btn {
  color: white;
  font-size: 20px;
  background: $orange;
  border-radius: 32px;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 25px 10px;
  margin-left: 12px;
}

.btn-nav {
  background: $orange;
  color: white;
  border: hidden;
}

.select {
  background: black;
}

.category-tag::before {
  background: black;
}