.top-index {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-index {
  width: 231px;
}

.searchTerm {
  border: 2px solid black;
  padding: 15px 0 15px 10px;
  height: 20px;
  border-radius: 5px;
  outline: none;
}

.searchTerm:focus{
  color: $orange;
}
