* {
  list-style: none;
}

.anime-show-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2.5%;
  margin: 5% 5%;
  height: 150vh;
}

.anime-description-streaming-show {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 950px;
}

.image-anime-show {
  box-shadow: 1px 1px 12px #555;
  width: 500px;
  height: 750px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  position: sticky;
  top: 0;
}

.title-colored {
  color: orange;
}

.anime-title-show {
  padding-bottom: 2%;
}

.anime-title-like-heart-show {
  display: flex;
  justify-content: space-between;
}

.anime-info-show {
  background-color: white;
  box-shadow: 1px 1px 12px #555;
  padding: 5% 5%;
  border-radius: 15px;
}

.anime-date-genre-note-show {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.plateform-show-anime {
  background-color: white;
  padding: 5% 5%;
  box-shadow: 1px 1px 12px #555;
  border-radius: 15px;
}

.streaming-service{
  font-size: 20px;
}

.btn-visualize {
  margin-left: 25%;
}

// onglets comments & predictions

// .commentary-prediction-anime-show, ::before, ::after {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

.commentary-prediction-anime-show {
  // margin: 5% 10%;
  // position: absolute;
  width: 950px;
}

.commentary-prediction-anime-show ul {
  border: 1px solid black;
  width: 950px;
}

.container-onglets {
  background: white;
  // width: 100%;
  height: 30%;
  display: flex;
}

.onglets {
  width: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  cursor: pointer;
}

.onglets:not(:nth-child(2)) {
  border-right: 1px solid black;
}

.container-contenu-com-pred-section-anime-show {
  height: 70%;
  // width: 100%;
  position: absolute;
  opacity: 0;
}

.container-contenu-com-pred-section-anime-show li {
  padding: 20px;
}

.date {
  font-size: 0.5em;
}

.nickname {
  font-size: 1em;
}

// animation onglets

.activeOnglet {
  background: orange;
  color: white;
  transition: all 0.3s ease;
}

.activeContenu {
  animation: fade 0.5s forwards;
}

.fa-heart {
  color: red;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
