* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.anime-show-container {
  display: flex;
  justify-content: space-around;
}

.anime-info {
  display: flex;
}

.date-genre-anime-show {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.note-globale-show-anime {
  padding-right: 25%;
}

.description-show-anime {
  background-color: orange;
  margin: 5% 10%;
  padding: 5% 5%;
}

.plateform-show-anime {
  background-color: orange;
  margin: 5% 10%;
  padding: 5% 5%;
}

.img-anime-show {
  margin-left: 10%;
  margin-top: 3%;
  box-shadow: 1px 1px 12px #555
}

.anime-title-show {
  padding-bottom: 2%;
}

.btn {
  margin-left: 25%;
}

.commentary-anime-show {
  margin: 5% 10%;
  border-style: solid;
}

.commentary-anime-show ul {
  display: flex;
  flex-wrap: wrap;
}

.commentary-anime-show li {
  align-content: space-between;
}

.date {
  font-size: 0.5em;
}

.nickname {
  font-size: 1em;
}